
* {
    font-family: 'Archivo Narrow', sans-serif;
    }
body {
    margin:0;
    padding:0;
}

.KayLogoDiv {
    position: absolute;
    height: 280px;
    width: 400px;
    z-index: 1;
    background-color: #fff;
    transform: translateY(-100px) translateX(-60px) rotate(15deg);
    border-radius: 10%;
}

.KayLogo {
    height: 135px;
    transform: rotate(-15deg);
    float: right;
    margin-top: 100px;
    margin-right: 35px;
    border-radius: 10%;
}

.NavBar {
    position: absolute;
    right: 0px;
    overflow: hidden;
    z-index: 2;
    padding: 20px;
    margin-right: 80px;
    margin-top: 50px;
}

.NavBar li {
    display: inline;
    padding: 20px;
}

.NavBar li a {
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    color: white;
    font-size: 1.5vw;
    letter-spacing: 3px;
}



.NavBar li a:hover {
    border-bottom: 5px solid #DF6868;
    border-radius: 6px;
    transition: 0.7s color;
    color: #C1C6DF;
}

.CarouselImg {
    height: 700px;
    width: 100%;
}

.BgHomeHeading {
    background-image:url('/static/images/shipWithSea.jpg');
    height:600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.HeadingBtn {
    background: transparent;
    border: none;
    border-radius: 10px;
    padding: 20px 60px;
    color: #fff;
    font-size: 60px;
    margin-bottom: 130px;
    align-text: left;
    font-family: 'Niconne', cursive;
    font-family: 'Pattaya', sans-serif;
    animation: slideUp 1.4s ease;
}
.HeadingBtnHr {
    width:50%;
    background-color:#3C4678;
    height:2px;
    animation: slideUp 1.5s ease;
}


.HeadingBtnH3 {
    animation: slideUp 1.7s ease;
}


@keyframes slideUp {
    0% {
        transform: translateY(250px);
    }
    100% {
        transform: translateY(0);
    }
}


.BriefAboutCompany {
    position: relative;
    margin-top: 200px;
}


.AboutCompanyH3 {
    color:#3C4678;
}

.AddIcon {
    color: #3C4678;
}

.AboutCompanyHr {
    background-color:#DF6868;
    height:2px;
    width:34%;
}

.AboutCompanyP {
    font-size: 1.1em;
    word-spacing:5px;
    letter-spacing:0.1px;
}


.AboutCompanyP .AboutCompanyPTwo {
    font-size:2.2vw;
    word-spacing:5px;
    letter-spacing:0.1px;
}

.WhyChooseUsOne {
    animation: slideUp 1.4s ease;
}

.WhyChooseUsTwo {
    animation: slideUp 1.4s ease;

}

.WhyChooseUsThree {
    animation: slideUp 1.4s ease;
}

.AboutUsImg {
    height:100%;
    width:100%;
}

.card {
    background-color: orange;
}

span.CountryMkt {
  background-color: #B05353;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}
@-webkit-keyframes glowing {
  0% { background-color: #B05353; -webkit-box-shadow: 0 0 3px #C67676; }
  50% { background-color: #DE7878; -webkit-box-shadow: 0 0 40px #E59595; }
  100% { background-color: #B05353; -webkit-box-shadow: 0 0 3px #C67676; }
}

@-moz-keyframes glowing {
  0% { background-color: #B05353; -moz-box-shadow: 0 0 3px #C67676; }
  50% { background-color: #DE7878; -moz-box-shadow: 0 0 40px #E59595; }
  100% { background-color: #B05353; -moz-box-shadow: 0 0 3px #C67676; }
}

@-o-keyframes glowing {
  0% { background-color: #B05353; box-shadow: 0 0 3px #C67676; }
  50% { background-color: #DE7878; box-shadow: 0 0 40px #E59595; }
  100% { background-color: #B05353; box-shadow: 0 0 3px #C67676; }
}

@keyframes glowing {
  0% { background-color: #B05353; box-shadow: 0 0 3px #C67676; }
  50% { background-color: #DE7878; box-shadow: 0 0 40px #E59595; }
  100% { background-color: #B05353; box-shadow: 0 0 3px #C67676; }
}
.TestmonialJumbotron {
    background-color: #DAF5FA;
}
.ColTestimonial {
    background-color: #3C4678;
}

.TestimonialKayMarine {
    background-color: #DF6868;
    height: 450px;
    margin: 15px 15px 15px 15px;
}

.TestimonialImg {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #DF6868;
}

.FooterJumbo {
    background-color: #3C4678;
    /*background-color: #fff;*/
    color: #fff;
}

.FooterLogoImg {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    padding: 1px;
    background-color: #fff;
}

.AboutUsPageJumbo {
    background-image:url('/static/images/aboutUsKayMarine.png');
    height:300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.AboutHeading {
    margin-top: 150px;
    /*font-family: 'Niconne', cursive;
    font-family: 'Pattaya', sans-serif;*/
}

.AboutUsUnderLine {
    background-color:#DF6868;
    height: 5px;
}

.AboutUsText {
    font-size: 1.4em;
    letter-spacing: 1.1px;
}

.ServicesPage {
    background-image:url('/static/images/servicesBgImg.png');
    height:300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ServicesImages {
    height: 80%;
    width: 86%;
}

.ServicesHrTag {
    background-color:#DF6868;
    height: 1px;
    width: 20%;
}

.ServicesH2Tag {
    color:#3C4678;
}

.ContactUsJumbo {
    background-color:#3C4678;
    height:400px;
}

.ContactUsHeading {
    font-size: 2.5em;
    color: #fff;
    /*font-family: 'Niconne', cursive;
    font-family: 'Pattaya', sans-serif;*/
    margin-top: 170px;
}

.ContactUsHr {
    background-color:#DF6868;
    height: 5px;
    width: 100%;
}

.ContactUsContainer {
    position: relative;
    top: -110px;
    background-color: white;
    padding: 10px;
}

.contactBtn {
    background-color:#3C4678;
    color: #fff;
    border: none;
    padding: 10px;
    width: 100px;
}

/*-------------------------------MEDIA QUERIES--------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .BgHomeHeading {
        height:350px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .CarouselImg {
        height: 350px;
        width: 100%;
    }
    .HeadingBtn {
        background: transparent;
        border: none;
        border-radius: 10px;
        padding: 10px 30px;
        color: #fff;
        font-size: 22px;
        letter-spacing: 1px;
        margin-bottom: 30px;
        align-text: left;
        font-family: 'Niconne', cursive;
        font-family: 'Pattaya', sans-serif;
        animation: slideUp 1.4s ease;
    }
    .HeadingBtnHr {
        width:50%;
        background-color:#3C4678;
        height:2px;
        animation: slideUp 1.5s ease;
    }
    .HeadingBtnH3 {
        animation: slideUp 1.7s ease;
        font-size: 15px;
    }
    span.CountryMkt {
        font-size: 15px;
    }
    .KayLogoDiv {
        display: none;
    }
    .NavBar {
        margin-top: 0.4px;
        margin-right: 0.4px;
    }
    .NavBar li{
        display: inline;
        margin-right: 0.4px;
        padding-right: 0.4px;
        padding-left: 0.4px;
    }
    .NavBar li a{
        font-size: 8px;
        font-weight: bold;
    }
    .NavBar li a:hover{
        border-bottom: 5px solid #DF6868;
        border-radius: 6px;
        transition: 0.7s color;
        color: #C1C6DF;
        cursor: pointer;
    }
    .BriefAboutCompany {
        position: relative;
        margin-top: 20px;
    }
    .CardTwo {
        margin-top: 5px;
    }
    .CardThree {
        margin-top: 5px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .KayLogoDiv {
        position: absolute;
        height: 180px;
        width: 180px;
        z-index: 1;
        background-color: #fff;
        transform: translateY(-100px) translateX(-60px) rotate(15deg);
        border-radius: 10%;
    }
    .KayLogo {
        height: 50px;
        transform: rotate(-15deg);
        float: right;
        margin-top: 100px;
        margin-right: 10px;
        border-radius: 10%;
    }
    .NavBar {
        margin-top: 6px;
        margin-right: 0px;
    }
    .NavBar li{
        display: inline;
        margin-right: 0.4px;
        padding-right: 0.4px;
        padding-left: 0.4px;
    }
    .NavBar li a{
        font-size: 18px;
        font-weight: bold;
    }
    .NavBar li a:hover{
        border-bottom: 5px solid #DF6868;
        border-radius: 6px;
        transition: 0.7s color;
        color: #C1C6DF;
        cursor: pointer;
    }
    .HeadingBtn {
        background: transparent;
        border: none;
        border-radius: 10px;
        padding: 10px 30px;
        color: #fff;
        font-size: 40px;
        letter-spacing: 1px;
        margin-bottom: 100px;
        align-text: left;
        font-family: 'Niconne', cursive;
        font-family: 'Pattaya', sans-serif;
        animation: slideUp 1.4s ease;
    }
    .HeadingBtnHr {
        width:50%;
        background-color:#3C4678;
        height:2px;
        animation: slideUp 1.5s ease;
    }
    .HeadingBtnH3 {
        animation: slideUp 1.7s ease;
        font-size: 25px;
    }
    span.CountryMkt {
        font-size: 25px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .KayLogoDiv {
        position: absolute;
        height: 200px;
        width: 260px;
        z-index: 1;
        background-color: #fff;
        transform: translateY(-100px) translateX(-60px) rotate(15deg);
        border-radius: 10%;
    }

    .KayLogo {
        height: 70px;
        transform: rotate(-15deg);
        float: right;
        margin-top: 100px;
        margin-right: 30px;
        border-radius: 10%;
    }
    .NavBar {
        margin-top: 6px;
        margin-right: 0.5px;
    }
    .NavBar li{
        display: inline;
        margin-right: 0.4px;
        padding-right: 0.4px;
        padding-left: 0.4px;
    }
    .NavBar li a{
        font-size: 22px;
        font-weight: bold;
    }
    .NavBar li a:hover{
        border-bottom: 5px solid #DF6868;
        border-radius: 6px;
        transition: 0.7s color;
        color: #C1C6DF;
        cursor: pointer;
    }
    .HeadingBtn {
        background: transparent;
        border: none;
        border-radius: 10px;
        padding: 10px 30px;
        color: #fff;
        font-size: 40px;
        letter-spacing: 1px;
        margin-bottom: 100px;
        align-text: left;
        font-family: 'Niconne', cursive;
        font-family: 'Pattaya', sans-serif;
        animation: slideUp 1.4s ease;
    }
    .HeadingBtnHr {
        width:50%;
        background-color:#3C4678;
        height:2px;
        animation: slideUp 1.5s ease;
    }
    .HeadingBtnH3 {
        animation: slideUp 1.7s ease;
        font-size: 25px;
    }
    span.CountryMkt {
        font-size: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .KayLogoDiv {
        position: absolute;
        height: 250px;
        width: 330px;
        z-index: 1;
        background-color: #fff;
        transform: translateY(-100px) translateX(-60px) rotate(15deg);
        border-radius: 10%;
    }

    .KayLogo {
        height: 100px;
        transform: rotate(-15deg);
        float: right;
        margin-top: 100px;
        margin-right: 40px;
        border-radius: 10%;
    }
    .NavBar {
        margin-top: 6px;
        margin-right: 0.5px;
    }
    .NavBar li{
        display: inline;
        margin-right: 0.4px;
        padding-right: 0.4px;
        padding-left: 0.4px;
    }
    .NavBar li a{
        font-size: 22px;
        font-weight: bold;
    }
    .NavBar li a:hover{
        border-bottom: 5px solid #DF6868;
        border-radius: 6px;
        transition: 0.7s color;
        color: #C1C6DF;
        cursor: pointer;
    }
    .HeadingBtn {
        background: transparent;
        border: none;
        border-radius: 10px;
        padding: 10px 30px;
        color: #fff;
        font-size: 40px;
        letter-spacing: 1px;
        margin-bottom: 100px;
        align-text: left;
        font-family: 'Niconne', cursive;
        font-family: 'Pattaya', sans-serif;
        animation: slideUp 1.4s ease;
    }
    .HeadingBtnHr {
        width:50%;
        background-color:#3C4678;
        height:2px;
        animation: slideUp 1.5s ease;
    }
    .HeadingBtnH3 {
        animation: slideUp 1.7s ease;
        font-size: 25px;
    }
    span.CountryMkt {
        font-size: 25px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .KayLogoDiv {
        position: absolute;
        height: 250px;
        width: 330px;
        z-index: 1;
        background-color: #fff;
        transform: translateY(-100px) translateX(-60px) rotate(15deg);
        border-radius: 10%;
    }

    .KayLogo {
        height: 100px;
        transform: rotate(-15deg);
        float: right;
        margin-top: 100px;
        margin-right: 40px;
        border-radius: 10%;
    }
    .NavBar {
        margin-top: 6px;
        margin-right: 0.5px;
    }
    .NavBar li{
        display: inline;
        margin-right: 0.4px;
        padding-right: 0.4px;
        padding-left: 0.4px;
    }
    .NavBar li a{
        font-size: 22px;
        font-weight: bold;
    }
    .NavBar li a:hover{
        border-bottom: 5px solid #DF6868;
        border-radius: 6px;
        transition: 0.7s color;
        color: #C1C6DF;
        cursor: pointer;
    }
    .HeadingBtn {
        background: transparent;
        border: none;
        border-radius: 10px;
        padding: 10px 30px;
        color: #fff;
        font-size: 40px;
        letter-spacing: 1px;
        margin-bottom: 100px;
        align-text: left;
        font-family: 'Niconne', cursive;
        font-family: 'Pattaya', sans-serif;
        animation: slideUp 1.4s ease;
    }
    .HeadingBtnHr {
        width:50%;
        background-color:#3C4678;
        height:2px;
        animation: slideUp 1.5s ease;
    }
    .HeadingBtnH3 {
        animation: slideUp 1.7s ease;
        font-size: 25px;
    }
    span.CountryMkt {
        font-size: 25px;
    }
}
