{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron-fluid ContactUsJumbo">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <h1 class="ContactUsHeading">
                Contact Us
                <hr class="ContactUsHr">
            </h1>
        </div>
    </div>
</div>
<div class="container ContactUsContainer shadow-lg">
    <div class="row">
        <div class="col-lg-6">
            <form class="p-5">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name"  placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="contact">Contact</label>
                    <input type="text" class="form-control" id="contact" placeholder="Enter your phone number">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="query">Ask Your Queries!</label>
                    <textarea class="form-control" id="query" placeholder="Enter your query" rows="3"></textarea>
                </div>
                <button type="submit" class="contactBtn">Submit</button>
            </form>
        </div>
        <div class="col-lg-6 border-left">
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1377.5682300608191!2d115.84346382040154!3d-31.94701255946271!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2a32a531c3eec7c1%3A0xadc14ff4cacb5aeb!2s9%2F929%20Wellington%20St%2C%20West%20Perth%20WA%206005%2C%20Australia!5e1!3m2!1sen!2sin!4v1603350048310!5m2!1sen!2sin" height="100%" width="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
            <div class="container text-center mt-5 p-5">
                <i class="fa fa-map-marker fa-5x AddIcon" aria-hidden="true"></i>
                <h3 class="text-secondary mt-3">
                    9/929 Wellington Street, West Perth, WA, 6005, Australia
                </h3>
            </div>
        </div>
    </div>
</div>

{% endblock %}

